[postgresql]
name=PostgreSQL {{ pg_version }} $releasever - $basearch
baseurl={{ pg_yum_baseurl }}
enabled=1
{% if pg_gpg_install_key is sameas true %}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG-{{ pg_version | regex_replace('\.','') }}
{% else %}
gpgcheck=0
{% endif %}
